<h4>Listado</h4>
<ul class="list-group">
  <li
    *ngFor="
      let character of characterList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-success': isLast,
      'list-group-item-light': isEven
    }"
  >
    <div>
      <span class="text-primary">{{ i + 1 }} </span>

      {{ character.name }} - <strong>Power: </strong> {{ character.power }}
    </div>

    <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">x</button>

    <!-- <span>¿Es el primero? {{isFirst}} </span>
  <span>¿Es el ultimo? {{isLast}} </span>
  <span>¿Es par? {{isEven}} </span>
  <span>¿Es impar? {{isOdd}} </span> -->
  </li>
</ul>
