<!-- <h1>{{title}}</h1>
<hr>
 -->


<!-- <app-counter></app-counter> -->
<!--  <app-heroes-hero></app-heroes-hero> -->
<!--  <app-heroes-list></app-heroes-list> -->

<app-dbz-main-page></app-dbz-main-page>

