

<dl>
  <td>Nombre</td>
  <dd>{{name}}</dd>

  <td>Edad</td>
  <dd>{{age}}</dd>

  <td>Metodo</td>
  <dd>{{getDescription()}} </dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}} </dd>

</dl>

<button
class="btn btn-primary mx-2"
(click)="changeNameHero()"
*ngIf="name !== 'Spiderman'">
  Cambiar nombre
</button>

<button
 class="btn btn-primary mx-2"
 (click)="changeAgeHero()"
 *ngIf="age !== 25"
 >
  Cambiar edad
</button>

<button
 class="btn btn-primary mx-2"
 (click)="resetForm()"

 >
 Reset
</button>
