<h2>Listado de Heroes</h2>

<div *ngIf="deleteHeroe; else nothingWasDeleted">
  <h3>
    Heroe Borrado <small class="text-danger"> {{ deleteHeroe }}</small>
  </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button
  class="btn btn-outline-danger"
  (click)="removeLastHeroe()"
  *ngIf="heroeNames.length > 0"
>
  Borrar Ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let heroe of heroeNames" class="list-group-item">
    {{ heroe }}
  </li>
</ul>
