<h1>DBZ main page</h1>

<hr />

<div class="row">
  <div class="col">
    <app-dbz-list [characterList]="charactersMain" (onDelete)="onDeleteCharacter($event)"></app-dbz-list>

  </div>
  <div class="col">

    <dbz-add-character (onNewCharacter)="onNewCharacter($event)"></dbz-add-character>

  </div>
</div>
